body {
  padding: 24px;
}

.add-btn {
  background-color: #22A699;
  margin-left: 10px;
}

.chatbox-container {
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
}

.chatboxes-main-container {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  grid-gap: 2%;
}

.btn {
  border: none;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.close-btn {
  background: #F24C3D;
}

.dis-flex {
  display: flex;
}

.vertical-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn:disabled {
  background: #c88b86;
  cursor: not-allowed;
}

.typed-text {
  width: 100%;
  border: 1px solid black;
  height: 150px;
  border-radius: 4px;
  padding: 5px;
  line-height: 140%;
  overflow: scroll;
}

.send-btn {
  background: #0079FF;
}

.send-btn:disabled {
  background: #85afde
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}